/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [VehicleTracking]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE DATABASE [VehicleTracking]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehicleTracking', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VehicleTracking.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehicleTracking_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\VehicleTracking_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleTracking].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleTracking]
GO
USE [VehicleTracking]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Base64Image]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Base64Image](
	[Id] [uniqueidentifier] NOT NULL,
	[Base64EncodedImage] [nvarchar](max) NULL,
	[Damage_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Base64Image] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Batches]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Batches](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[IdUser_Id] [uniqueidentifier] NULL,
	[Transport_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Batches] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Damages]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Damages](
	[Id] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Inspection_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Damages] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlowItems]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowItems](
	[Id] [uniqueidentifier] NOT NULL,
	[StepNumber] [int] NOT NULL,
	[FlowStep_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.FlowItems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FlowSteps]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FlowSteps](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FlowSteps] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistoricVehicles]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistoricVehicles](
	[Id] [uniqueidentifier] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Vin] [nvarchar](max) NULL,
	[CurrentLocation] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Date] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_dbo.HistoricVehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inspections]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inspections](
	[Id] [uniqueidentifier] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[IdLocation_Id] [uniqueidentifier] NULL,
	[IdUser_Id] [uniqueidentifier] NULL,
	[IdVehicle_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Inspections] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Locations]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Locations](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Locations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transports]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transports](
	[Id] [uniqueidentifier] NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IdUser_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Transports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[Phone] [int] NOT NULL,
	[Password] [nvarchar](max) NULL,
	[IdRole_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicles]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicles](
	[Id] [uniqueidentifier] NOT NULL,
	[Brand] [nvarchar](max) NULL,
	[Model] [nvarchar](max) NULL,
	[Year] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Vin] [nvarchar](max) NULL,
	[CurrentLocation] [nvarchar](max) NULL,
	[Status] [nvarchar](max) NULL,
	[Price] [int] NOT NULL,
	[Batch_Id] [uniqueidentifier] NULL,
	[Zone_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Vehicles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zones]    Script Date: 11/20/2017 11:27:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zones](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[IsSubZone] [bit] NOT NULL,
	[MaxCapacity] [int] NOT NULL,
	[FlowStep_Id] [uniqueidentifier] NULL,
	[Zone_Id] [uniqueidentifier] NULL,
 CONSTRAINT [PK_dbo.Zones] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Batches] ([Id], [Name], [Description], [IdUser_Id], [Transport_Id]) VALUES (N'b23ea637-b4a3-4d4c-86e1-0dbff0ee22ef', N'Lote pequeño', N'Lote con dos vehiculos con daños', N'46d361a3-b4ac-4b72-9615-f36cf6c79fa1', N'df5fad53-a9f8-40e4-a999-36bd9b0d1295')
INSERT [dbo].[Batches] ([Id], [Name], [Description], [IdUser_Id], [Transport_Id]) VALUES (N'7e7bf7df-b235-41d8-a4b5-4d3e94dd1076', N'Lote primario', N'Lote con tres vehiculos dañados', N'46d361a3-b4ac-4b72-9615-f36cf6c79fa1', NULL)
INSERT [dbo].[Batches] ([Id], [Name], [Description], [IdUser_Id], [Transport_Id]) VALUES (N'4b012ca2-40b8-4d8a-9339-b2fa7036080d', N'Lote puro', N'Lote sin daños', N'4bc44f87-48d5-4076-8bae-60a4a2e003ae', N'd326dd33-c9f5-449e-a8a6-f17bb80ce370')
INSERT [dbo].[Damages] ([Id], [Description], [Inspection_Id]) VALUES (N'b6d8a70c-adea-401b-9f3b-049400c102fb', N'Completamente roto', N'2e542f72-2199-418a-b829-7acf44f621ee')
INSERT [dbo].[Damages] ([Id], [Description], [Inspection_Id]) VALUES (N'caf8bd81-084f-455d-a91e-924ebc489d8b', N'Pequeño daño en la zona delantera', N'019ec450-61e2-4175-ac9b-108561b51cbd')
INSERT [dbo].[Damages] ([Id], [Description], [Inspection_Id]) VALUES (N'88e460d8-6533-4174-b815-98cfacf25e34', N'Destrozado completamente', N'87befe55-06af-435a-a6d7-ad6e6e74b496')
INSERT [dbo].[FlowItems] ([Id], [StepNumber], [FlowStep_Id]) VALUES (N'996644dd-192a-4c6a-b666-184e2c80738e', 3, N'da68cdb7-b7dd-48cd-82bc-8910418a656b')
INSERT [dbo].[FlowItems] ([Id], [StepNumber], [FlowStep_Id]) VALUES (N'6251f2e2-1d6e-4062-beba-838afe81a6e1', 2, N'd7e9e3cf-aa9c-4741-8f6b-f12d8e88a4b2')
INSERT [dbo].[FlowItems] ([Id], [StepNumber], [FlowStep_Id]) VALUES (N'430d8852-a366-4eff-abd6-888703e1e53a', 1, N'727820e7-2201-4cb7-83a7-412f1eae45fb')
INSERT [dbo].[FlowSteps] ([Id], [Name]) VALUES (N'727820e7-2201-4cb7-83a7-412f1eae45fb', N'Mecanica ligera')
INSERT [dbo].[FlowSteps] ([Id], [Name]) VALUES (N'da68cdb7-b7dd-48cd-82bc-8910418a656b', N'Lavado')
INSERT [dbo].[FlowSteps] ([Id], [Name]) VALUES (N'd7e9e3cf-aa9c-4741-8f6b-f12d8e88a4b2', N'Pintura')
INSERT [dbo].[HistoricVehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Date]) VALUES (N'118b091c-d076-427f-b4cb-02f5f7265b6a', N'Mitsubishi', N'L200', 2008, N'Rojo', N'Camioneta', N'BNW-8927', NULL, N'Listo para ser ubicado en zona', CAST(N'2017-11-20T22:57:05.6419001' AS DateTime2))
INSERT [dbo].[HistoricVehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Date]) VALUES (N'5ab34211-86b5-4870-895e-08548294146a', N'Chevrolet', N'Onyx', 2000, N'Azul', N'Auto', N'KVX-8931', NULL, N'En puerto', CAST(N'2017-11-20T22:28:22.0289570' AS DateTime2))
INSERT [dbo].[HistoricVehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Date]) VALUES (N'dca61573-8ab8-4148-b48f-0f45322da502', N'Mitsubishi', N'L200', 2008, N'Rojo', N'Camioneta', N'BNW-8927', NULL, N'En puerto', CAST(N'2017-11-20T22:33:18.9623437' AS DateTime2))
INSERT [dbo].[Inspections] ([Id], [Date], [IdLocation_Id], [IdUser_Id], [IdVehicle_Id]) VALUES (N'a981997e-b3c2-4e4a-9a0f-092a4d862fc2', CAST(N'2017-11-20T22:39:07.6594156' AS DateTime2), N'a52aa48f-899c-43bc-9182-b740d469e7e1', N'46d361a3-b4ac-4b72-9615-f36cf6c79fa1', N'00aacb82-0dfe-487e-a841-4fd3b85cb35a')
INSERT [dbo].[Inspections] ([Id], [Date], [IdLocation_Id], [IdUser_Id], [IdVehicle_Id]) VALUES (N'019ec450-61e2-4175-ac9b-108561b51cbd', CAST(N'2017-11-20T22:39:56.1802069' AS DateTime2), N'b8389fe7-2d49-4360-9f24-679124408025', N'46d361a3-b4ac-4b72-9615-f36cf6c79fa1', N'7d7e7b18-d18e-4dd1-b1b6-6f93ee71e54c')
INSERT [dbo].[Inspections] ([Id], [Date], [IdLocation_Id], [IdUser_Id], [IdVehicle_Id]) VALUES (N'cd07457f-742d-4d62-8926-1a8db98f0dc1', CAST(N'2017-11-20T22:57:05.6419001' AS DateTime2), N'b1f41fbd-c6a3-432a-873b-d09ae6505737', N'4bc44f87-48d5-4076-8bae-60a4a2e003ae', N'46fc4874-3aaa-4bb7-8308-6cb13dec9b78')
INSERT [dbo].[Locations] ([Id], [Name]) VALUES (N'96aaf1d8-5b34-45ee-9b5d-06c0a6ab2481', N'Puerto 1')
INSERT [dbo].[Locations] ([Id], [Name]) VALUES (N'7155e544-998a-467d-805c-1b056f2b34c0', N'Patio 1')
INSERT [dbo].[Locations] ([Id], [Name]) VALUES (N'b8389fe7-2d49-4360-9f24-679124408025', N'Puerto 3')
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Operario del Puerto')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Transportista')
SET IDENTITY_INSERT [dbo].[Roles] OFF
INSERT [dbo].[Transports] ([Id], [StartDate], [EndDate], [IdUser_Id]) VALUES (N'df5fad53-a9f8-40e4-a999-36bd9b0d1295', CAST(N'2017-11-20T22:44:28.9894398' AS DateTime2), CAST(N'2017-11-20T22:44:36.9216440' AS DateTime2), N'a1ef56cd-8119-421e-b0b2-03c8da88d120')
INSERT [dbo].[Transports] ([Id], [StartDate], [EndDate], [IdUser_Id]) VALUES (N'd326dd33-c9f5-449e-a8a6-f17bb80ce370', CAST(N'2017-11-20T22:56:29.0605320' AS DateTime2), CAST(N'2017-11-20T22:56:38.2027938' AS DateTime2), N'4bc44f87-48d5-4076-8bae-60a4a2e003ae')
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Phone], [Password], [IdRole_Id]) VALUES (N'a1ef56cd-8119-421e-b0b2-03c8da88d120', N'trans', N'trans', N'trans', 1234, N'trans', 3)
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Phone], [Password], [IdRole_Id]) VALUES (N'de9a2ca2-7212-4f9f-aca3-463e5c710d73', N'patio', N'patio', N'patio', 1234, N'patio', 4)
INSERT [dbo].[Users] ([Id], [Name], [LastName], [UserName], [Phone], [Password], [IdRole_Id]) VALUES (N'4bc44f87-48d5-4076-8bae-60a4a2e003ae', N'admin', N'admin', N'admin', 1234, N'admin', 1)
INSERT [dbo].[Vehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Price], [Batch_Id], [Zone_Id]) VALUES (N'4ec0c023-2b0f-4a93-82a1-0d8dc3b3a53c', N'Mitsubishi', N'L200', 2009, N'Gris', N'Camioneta', N'VKQ-2412', NULL, N'Listo para la venta', 0, N'4b012ca2-40b8-4d8a-9339-b2fa7036080d', NULL)
INSERT [dbo].[Vehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Price], [Batch_Id], [Zone_Id]) VALUES (N'4217e92c-744d-434b-a174-180b474fb23e', N'Hyundai', N'Creta', 2016, N'Amarillo', N'Auto', N'WOF-2491', NULL, N'En puerto', 0, NULL, NULL)
INSERT [dbo].[Vehicles] ([Id], [Brand], [Model], [Year], [Color], [Type], [Vin], [CurrentLocation], [Status], [Price], [Batch_Id], [Zone_Id]) VALUES (N'00aacb82-0dfe-487e-a841-4fd3b85cb35a', N'Hyundai', N'Creta', 2011, N'Verde', N'Auto', N'WRI-4891', NULL, N'Listo para partir en puerto', 0, N'7e7bf7df-b235-41d8-a4b5-4d3e94dd1076', NULL)
INSERT [dbo].[Zones] ([Id], [Name], [IsSubZone], [MaxCapacity], [FlowStep_Id], [Zone_Id]) VALUES (N'3f032a7d-5692-4648-8aec-05b7759d10aa', N'Zona alternativa', 0, 40, NULL, NULL)
INSERT [dbo].[Zones] ([Id], [Name], [IsSubZone], [MaxCapacity], [FlowStep_Id], [Zone_Id]) VALUES (N'353b7452-8355-41a6-ba10-06493a5897c0', N'Mecanica', 1, 15, N'727820e7-2201-4cb7-83a7-412f1eae45fb', N'f7c3fcb9-827e-4424-a738-7899d264f6de')
INSERT [dbo].[Zones] ([Id], [Name], [IsSubZone], [MaxCapacity], [FlowStep_Id], [Zone_Id]) VALUES (N'e46869c1-99bf-4db0-a052-136e3bd57417', N'Mecanica auxiliar', 1, 13, N'727820e7-2201-4cb7-83a7-412f1eae45fb', N'f7c3fcb9-827e-4424-a738-7899d264f6de')
/****** Object:  Index [IX_Damage_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Damage_Id] ON [dbo].[Base64Image]
(
	[Damage_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdUser_Id] ON [dbo].[Batches]
(
	[IdUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Transport_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Transport_Id] ON [dbo].[Batches]
(
	[Transport_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Inspection_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Inspection_Id] ON [dbo].[Damages]
(
	[Inspection_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlowStep_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlowStep_Id] ON [dbo].[FlowItems]
(
	[FlowStep_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdLocation_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdLocation_Id] ON [dbo].[Inspections]
(
	[IdLocation_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdUser_Id] ON [dbo].[Inspections]
(
	[IdUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdVehicle_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdVehicle_Id] ON [dbo].[Inspections]
(
	[IdVehicle_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdUser_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdUser_Id] ON [dbo].[Transports]
(
	[IdUser_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_IdRole_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_IdRole_Id] ON [dbo].[Users]
(
	[IdRole_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Batch_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Batch_Id] ON [dbo].[Vehicles]
(
	[Batch_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Zone_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Zone_Id] ON [dbo].[Vehicles]
(
	[Zone_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FlowStep_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_FlowStep_Id] ON [dbo].[Zones]
(
	[FlowStep_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Zone_Id]    Script Date: 11/20/2017 11:27:08 PM ******/
CREATE NONCLUSTERED INDEX [IX_Zone_Id] ON [dbo].[Zones]
(
	[Zone_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Base64Image]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Base64Image_dbo.Damages_Damage_Id] FOREIGN KEY([Damage_Id])
REFERENCES [dbo].[Damages] ([Id])
GO
ALTER TABLE [dbo].[Base64Image] CHECK CONSTRAINT [FK_dbo.Base64Image_dbo.Damages_Damage_Id]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Transports_Transport_Id] FOREIGN KEY([Transport_Id])
REFERENCES [dbo].[Transports] ([Id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Transports_Transport_Id]
GO
ALTER TABLE [dbo].[Batches]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Batches_dbo.Users_IdUser_Id] FOREIGN KEY([IdUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Batches] CHECK CONSTRAINT [FK_dbo.Batches_dbo.Users_IdUser_Id]
GO
ALTER TABLE [dbo].[Damages]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Damages_dbo.Inspections_Inspection_Id] FOREIGN KEY([Inspection_Id])
REFERENCES [dbo].[Inspections] ([Id])
GO
ALTER TABLE [dbo].[Damages] CHECK CONSTRAINT [FK_dbo.Damages_dbo.Inspections_Inspection_Id]
GO
ALTER TABLE [dbo].[FlowItems]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FlowItems_dbo.FlowSteps_FlowStep_Id] FOREIGN KEY([FlowStep_Id])
REFERENCES [dbo].[FlowSteps] ([Id])
GO
ALTER TABLE [dbo].[FlowItems] CHECK CONSTRAINT [FK_dbo.FlowItems_dbo.FlowSteps_FlowStep_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.Locations_IdLocation_Id] FOREIGN KEY([IdLocation_Id])
REFERENCES [dbo].[Locations] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.Locations_IdLocation_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.Users_IdUser_Id] FOREIGN KEY([IdUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.Users_IdUser_Id]
GO
ALTER TABLE [dbo].[Inspections]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Inspections_dbo.Vehicles_IdVehicle_Id] FOREIGN KEY([IdVehicle_Id])
REFERENCES [dbo].[Vehicles] ([Id])
GO
ALTER TABLE [dbo].[Inspections] CHECK CONSTRAINT [FK_dbo.Inspections_dbo.Vehicles_IdVehicle_Id]
GO
ALTER TABLE [dbo].[Transports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Transports_dbo.Users_IdUser_Id] FOREIGN KEY([IdUser_Id])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transports] CHECK CONSTRAINT [FK_dbo.Transports_dbo.Users_IdUser_Id]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole_Id] FOREIGN KEY([IdRole_Id])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_IdRole_Id]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Batches_Batch_Id] FOREIGN KEY([Batch_Id])
REFERENCES [dbo].[Batches] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Batches_Batch_Id]
GO
ALTER TABLE [dbo].[Vehicles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Vehicles_dbo.Zones_Zone_Id] FOREIGN KEY([Zone_Id])
REFERENCES [dbo].[Zones] ([Id])
GO
ALTER TABLE [dbo].[Vehicles] CHECK CONSTRAINT [FK_dbo.Vehicles_dbo.Zones_Zone_Id]
GO
ALTER TABLE [dbo].[Zones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zones_dbo.FlowSteps_FlowStep_Id] FOREIGN KEY([FlowStep_Id])
REFERENCES [dbo].[FlowSteps] ([Id])
GO
ALTER TABLE [dbo].[Zones] CHECK CONSTRAINT [FK_dbo.Zones_dbo.FlowSteps_FlowStep_Id]
GO
ALTER TABLE [dbo].[Zones]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Zones_dbo.Zones_Zone_Id] FOREIGN KEY([Zone_Id])
REFERENCES [dbo].[Zones] ([Id])
GO
ALTER TABLE [dbo].[Zones] CHECK CONSTRAINT [FK_dbo.Zones_dbo.Zones_Zone_Id]
GO
USE [master]
GO
